/* Styles for the overlay */
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles for the modal */
.modal__wrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  max-height: 90%;
  overflow-y: auto;
}
/* Styles for the close button */
.modal__close {
}
