{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack Overflow</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/stacks.css' %}">
    <link rel="stylesheet" href="{% static 'css/primary.css' %}">
    {% block style %}{% endblock style %}
</head>
<body class="home-page unified-theme">
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}



    <div class="container">

            
    
            {% block content %}{% endblock content %}
    
    

    </div>



</body>
</html>