<div id="left-sidebar" data-is-here-when="md lg" class="left-sidebar js-pinned-left-sidebar ps-relative">
    <div class="left-sidebar--sticky-container js-sticky-leftnav">
        <nav role="navigation">
            <ol class="nav-links">


                <li class="ps-relative  youarehere" aria-current="true">
                    <a href="/" class="pl8 js-gps-track nav-links--link" data-gps-track="top_nav.click({is_current: true, location:1, destination:8})" aria-controls="" data-controller="" data-s-popover-placement="right" aria-current="page" data-s-popover-auto-show="true" data-s-popover-hide-on-outside-click="never">
                        <div class="d-flex ai-center">
                            <div class="flex--item truncate">
                                Home
                            </div>
                        </div>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
</div>