{% extends 'base.html' %}

{% block style %}
<style>
#content {
    max-width: 100%;
    width: 100%;
}
</style>
{% endblock style %}

{% block content %}

<!-- <form method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit">
            </form> -->


<div class="container bg-black-025">


    <div data-is-here-when="" class="left-sidebar js-pinned-left-sidebar ps-relative" data-can-be="left-sidebar"></div>

    <div id="content" class="pt0 snippet-hidden">


        <div class="box-border w100">

            <form id="post-form" class="post-form js-post-form" action="" method="post" >
                {% csrf_token %}
                <main id="question-form" class="mb48">
                    <div class="d-flex fd-column js-write-question-notice">
                        <div class="d-flex flex--item w100 lg:mb12 lg:100 ai-center bg-no-repeat bg-right-bottom wide:bg-image-ask-v2 wide:h-ask-v2-background">
                            <h1 class="fs-headline1 fw-bold mt24">Ask a public question</h1>
                        </div>
                        <div class="flex--item">
                        </div>
                        <div class="w100 mt16">


                            <div class="d-flex w100 ai-center mb16 md:mt0">
                                <div class="s-notice s-notice__info p24 w100 lg:w100">
                                    <h2 class="fs-title fw-normal mb8">Writing a good question</h2>
                                    <p class="fs-body2 mb0">
                                        You’re ready to <a href="https://stackoverflow.com/help/how-to-ask">ask</a> a <a href="https://stackoverflow.com/help/on-topic">programming-related question</a> and this form will help guide you through the process.
                                    </p>
                                    <p class="fs-body2 mt0">
                                        Looking to ask a non-programming question? See <a href="https://stackexchange.com/sites#technology-traffic">the topics here</a> to find a relevant site.
                                    </p>
                                    <h5 class="fw-bold mb8">Steps</h5>
                                    <ul class="mb0">
                                        <li>Summarize your problem in a one-line title.</li>
                                        <li>Describe your problem in more detail.</li>
                                        <li>Describe what you tried and what you expected to happen.</li>
                                        <li>Add “tags” which help surface your question to members of the community.</li>
                                        <li>Review your question and post it to the site.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex fd-column js-review-notice d-none">
                        <div class="d-flex flex--item ai-center bg-no-repeat bg-right-bottom wide:bg-image-ask-v2 wide:h-ask-v2-background">
                            <h1 class="fs-headline1 fw-bold my24">Review your question</h1>
                        </div>
                        <div class="flex--item">
                        </div>
                        <div class="d-flex flex--item w100 ai-center mb24 mt16">
                            <div class="s-notice s-notice__info w100 lg:w100">
                                <p class="fs-body2 mbn4">
                                    Please do a final review of your question and then post.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex w100 lg:fd-column-reverse ai-start g16">
                        <div class="flex--item w100 lg:w100 bg-white bar-sm p24 ba bc-black-075 fl-shrink0 js-post-title-section" id="post-title">
                            <div class="d-flex gs4 gsy fd-column js-stacks-validation">
                                <div class="d-flex fd-column flex--item">
                                    <div class="flex--item">
                                        <label for="title" class="s-label">
                                            Title
                                        </label>
                                    </div>
                                    <div class="d-flex flex--item md:fd-column">
                                        <div class="s-description flex--item9 my2">
                                            <label for="title">
                                                Be specific and imagine you’re asking a question to another person.
                                            </label>
                                        </div>
                                        <div class="flex--item3 s-input-message js-title-text-counter ta-right md:ta-left my2 s-description py2 cool"></div>
                                    </div>
                                </div>
                                <div class="ps-relative">
                                    {{form.as_p}}
                                </div>
                                <input class="w10 flex--item s-btn s-btn__primary mt8 js-next-title js-next-buttons" type="submit" value="Submit">
                            </div>
                        </div>

                    </div>

                </main>
            </form>
        </div>


    </div>
</div>


{% endblock content %}